* {
    margin: 0px 30px 0 30px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local(Montserrat),
        url(./front/Montserrat-Black.ttf)
        
}

/* ссылки */ 
div {
    text-align: center;
    
    }

a {
    color: red;
    text-decoration: none;
}

a:hover{
    transition: 200ms;
    color:firebrick;

}

ul{
    font-size:0;
    font-weight: bold;
}

ul li{
    padding-top: 31.5px;
    font-size:15px;
    display:inline-block;
    width: 70px;
    padding-bottom: 30px;
}

/* Адаптация картинки */
.photo {
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
    min-width: 500px;
}

div img {
    max-width: 100%;
    height: auto;
}

/* Заголовок + Параграфы  */
.caption{
    font-size: 22px;
    letter-spacing: 3.3px;
    line-height: 26px;
}

.site-article p{
    color: grey;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

}

.footer-article {
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;

}

/* Кнопка в низу */
.button {
    background-color: red;
    color: white!important; /* для того, что бы не меняло цвет на огненый */
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 20px 44px;
    margin: 4px 2px;
    border-radius: 12px;
}

.button:hover {
    transition: 200ms;
    background: firebrick;
}